.root *{
    -fx-text-fill: #b0bec5;
}

BorderPane {
    -fx-pref-width: 920px;
    -fx-pref-height: 690px;
    -fx-font-size: 16px;
    -fx-background-color: #455a64;
}

.boardPane {
    -fx-pref-width: 700px;
    -fx-pref-height: 700px;
}

.boardView {
    -fx-pref-width: 680px;
    -fx-pref-height: 680px;
    -fx-background-color: #718792;
}

.controlPane {
    -fx-label-padding: 50px;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-background-color: #1c313a;
}

.label {
    -fx-font-weight: bold;
}

.label.active {
    -fx-text-fill: green;
}

.text-field, .combo-box, .button {
    -fx-min-width: 60px;
    -fx-border-color: #ffa726;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-background-color: #455a64;
}

.text-field {
    -fx-max-width: 50px;
}

.text-field.error {
    -fx-border-color: red;
}

.button:hover {
    -fx-border-color: #ffd95b;
    -fx-background-color: #718792;
}

.button.active {
    -fx-border-color: green;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #ffd95b;
    -fx-background-color: #718792;
}

.combo-box {
    -fx-min-width: 200px;
}

.combo-box .cell {
    -fx-background-color: #1c313a;
    -fx-alignment: CENTER;
}

.combo-box .list-view {
    -fx-border-color: #ffa726;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
}

.combo-box .cell:hover {
    -fx-background-color: #718792;
}

.radio-button:selected {
    -fx-text-fill: green;
    -fx-font-weight: bold;
}
